<h2>Crear Estudiante</h2>

<!-- Mensajes -->
<p style="color: red;" *ngIf="mensajeError">{{ mensajeError }}</p>
<p style="color: green;" *ngIf="mensajeOk">{{ mensajeOk }}</p>

<form (ngSubmit)="crear()">

  <label>Nombre:</label>
  <input type="text" [(ngModel)]="estudiante.nombre" name="nombre" required>

  <br><br>

  <label>Email:</label>
  <input type="email" [(ngModel)]="estudiante.email" name="email" required>

  <br><br>

  <label>Edad:</label>
  <input type="number" [(ngModel)]="estudiante.edad" name="edad" required>

  <br><br>

  <label>Teléfono:</label>
  <input type="text" [(ngModel)]="estudiante.telefono" name="telefono" required> <!-- NUEVO CAMPO -->

  <br><br>

  <button type="submit">Crear</button>
</form>

<br>

