<h2>Lista de Estudiantes</h2>

<p>Token: {{ auth.obtenerToken() }}</p>
<p>Roles: {{ auth.obtenerRoles() }}</p>
<p>Rol del usuario: {{ auth.obtenerRolUsuario() }}</p>


<p>Rol del usuario: {{ auth.obtenerRolUsuario() }}</p>

<button *ngIf="auth.tieneRol('ADMIN')" [routerLink]="['/crear']">Crear Estudiante</button>

<!-- Botón logout -->

<button (click)="logout()">Cerrar sesión</button>

<ul>
  <li *ngFor="let e of estudiantes">
    {{ e.nombre }} - {{ e.email }} - {{ e.edad }}

    <!-- Solo usuarios ADMIN ven estos botones -->
    <button *ngIf="auth.tieneRol('ADMIN')">Editar</button>
    <button *ngIf="auth.tieneRol('ADMIN')">Eliminar</button>

    <!-- Detalle del estudiante -->
    <button [routerLink]="['/detalle', e.id]">Ver detalle</button>
  </li>
</ul>

<p *ngIf="errorMensaje" style="color:red">{{ errorMensaje }}</p>
